<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="../static/styles/loginstyle.css">
</head>
<body>
	<div class="signup container h-100">
		<div class="row align-items-center justify-content-center h-100">
			<div class="col-md-6 col-sm-12 mb-5 mb-md-0 mr-n3">
				<h1 class="text-left mb-4">Liverbase</h1>
			</div>
			<div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center ml-n3">
				<div class="box">
					<form>
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Email or phone number">
						</div>
						<div class="form-group">
							<input type="password" class="form-control"  placeholder="Password" id="password">
						</div>
                        <button type="submit" class="btn btn-login">Login</button>
						<hr>
                        <a href="signup.html" class="btn">Sign up</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
