{% extends "base.html" %}
{%block title%}Saved Slides{%endblock%}
{% set active_page = "savedslides" %}
{% block othercss%}<link rel="stylesheet" href="{{url_for('static', filename='styles/savedslides.css')}}">{%endblock%}
{%block content%}
	<!-- Written by me except some cards/minor front-end things like cards with ChatGPT -->
	<body>
		<div class="popup hide-popup">
			<div class="card popup-content">
				<img src="{{url_for('static', filename='images/greencheck.png')}}">
				<p>Your entry has been successfully deleted</p>
			</div>
		</div>
		<br>
		<h1>Submissions</h1>
		{% if saved_slides|length > 0 %}
			{% for slide in saved_slides: %}
				<div class="row mt-3">
					<div class="col-lg-12 col-lg-4 mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Submission #{{loop.index}}</h5>
								<div class="row">
									<div class="col">
										<div class="row">
											<div class="subimg-container col-sm-6">
												<img src="data:image/png;base64, {{slide.file.decode('utf-8') | safe }}">
												<img src="data:image/png;base64, {{slide.image.decode('utf-8') | safe }}">
											</div>
										</div>
									</div>
									<div class="col col-results">
										{% set default, empty = "--", "" %}
										<p>Given percent steatosis: {{slide.percent_steatosis if not slide.percent_steatosis == empty else default}}</p>
										<p>Calculated percent steatosis: {{ slide.ret_steatosis|string+"%" if not slide.ret_steatosis == empty else default}}</p>
										<p>Donor age: {{slide.donor_age if not slide.donor_age == empty else default}}</p>
										<p>Additional info: {{slide.other_info if not slide.other_info == empty else default}}</p>
										<button class="btn" id="delete-btn-{{loop.index}}" ref="sub" subId="{{loop.index}}">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<br>
			<h3> ¯\_(ツ)_/¯ You currently have no submissions. </h3>
		{% endif %}
		<script src="{{url_for('static', filename='scripts/results.js')}}"></script>
	</body>
{%endblock%}


