/* past submissions */
.subimg-container{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center; 
    height: 180px;
}

.subimg-container > img{
    height: 100%;
    margin-right: 20px;
}

.col-results{
    margin-left: 20px;
}

